<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.AccountMapper">
	<select id="findAccount_byUsername" parameterType="string" resultType="com.company.project.po.Account">
		SELECT
			id,
			username,
			password
		FROM
			account
		WHERE
			username = #{username};
	</select>
</mapper>